.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__rqrs {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__rqrs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__rqrs > :global(.__wab_flex-container) > *,
.freeBox__rqrs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rqrs > :global(.__wab_flex-container) > picture > img,
.freeBox__rqrs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rqrs {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rqrs > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rqrs > :global(.__wab_flex-container) > *,
  .freeBox__rqrs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rqrs > :global(.__wab_flex-container) > picture > img,
  .freeBox__rqrs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox___5Et6U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___5Et6U > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___5Et6U > :global(.__wab_flex-container) > *,
.freeBox___5Et6U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Et6U > :global(.__wab_flex-container) > picture > img,
.freeBox___5Et6U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__uWdHt {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__j0KcO {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__syNo6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___1FdN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jQe36:global(.__wab_instance) {
  position: relative;
}
.svg__tS6Uy {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__l7DP0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___28Tn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___28Tn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___28Tn > :global(.__wab_flex-container) > *,
.freeBox___28Tn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___28Tn > :global(.__wab_flex-container) > picture > img,
.freeBox___28Tn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___4KKnr {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__uAm1S {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__uAm1S > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__uAm1S > :global(.__wab_flex-container) > *,
.freeBox__uAm1S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uAm1S > :global(.__wab_flex-container) > picture > img,
.freeBox__uAm1S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__hescQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__vhgpX {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___1I9E0:global(.__wab_instance) {
  position: relative;
}
.svg__lbxtW {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__b238 {
  height: auto;
}
.svg__nLk5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__iip7F:global(.__wab_instance) {
  position: relative;
}
.svg___3EWwK {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__syGf1 {
  height: auto;
}
.svg___9AIn3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___8NRwD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___8NRwD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___8NRwD > :global(.__wab_flex-container) > *,
.freeBox___8NRwD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8NRwD > :global(.__wab_flex-container) > picture > img,
.freeBox___8NRwD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__hi1Ug {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__wCbOt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__rIcY {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__rIcY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__rIcY > :global(.__wab_flex-container) > *,
.freeBox__rIcY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rIcY > :global(.__wab_flex-container) > picture > img,
.freeBox__rIcY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__npgg5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vJqwN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___8Ouw:global(.__wab_instance) {
  position: relative;
}
.svg__xm7Yc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ws71W {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__sxFdy:global(.__wab_instance) {
  position: relative;
}
.svg__eRdN {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wsE7P {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__im61L:global(.__wab_instance) {
  position: relative;
}
.svg__jGZbo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xMasl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__duGRt {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__duGRt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__duGRt > :global(.__wab_flex-container) > *,
.freeBox__duGRt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__duGRt > :global(.__wab_flex-container) > picture > img,
.freeBox__duGRt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__d3Fkr:global(.__wab_instance) {
  position: relative;
}
.svg___3PgRe {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wVwQe {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___3Ygxx:global(.__wab_instance) {
  position: relative;
}
.svg__xiOpA {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__miDoA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__kkXor:global(.__wab_instance) {
  position: relative;
}
.svg__krqs2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__lVNxN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
