.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  min-width: 0;
}
.freeBox__jnd0T {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  min-width: 0;
  padding: 32px;
}
.svg__tcZLu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__btfbr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___41ZZ {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___41ZZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___41ZZ > :global(.__wab_flex-container) > *,
.freeBox___41ZZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___41ZZ > :global(.__wab_flex-container) > picture > img,
.freeBox___41ZZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.searchButtonsearchOpen:global(.__wab_instance) {
  min-width: 200px;
}
.svg__gJc4W {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kd3F8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.searchInput:global(.__wab_instance) {
  position: relative;
  max-width: 200px;
  display: none;
}
.searchInputsearchOpen:global(.__wab_instance) {
  display: flex;
}
.svg__zhfgM {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hNZbl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hy9S {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__sVvZc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__i0IZk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__njNBb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.cart:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__lWEvn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
