.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox___8Momx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___8Momx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___8Momx > :global(.__wab_flex-container) > *,
.freeBox___8Momx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Momx > :global(.__wab_flex-container) > picture > img,
.freeBox___8Momx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox___2PgNo {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2PgNo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___2PgNo > :global(.__wab_flex-container) > *,
.freeBox___2PgNo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2PgNo > :global(.__wab_flex-container) > picture > img,
.freeBox___2PgNo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__hoLk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg___2ZLtf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zwiY3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___0QR5K:global(.__wab_instance) {
  position: relative;
}
.svg__j0Fgg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5ZXf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jKcad:global(.__wab_instance) {
  position: relative;
}
.svg___8TaK5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rZw1E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__uehWh:global(.__wab_instance) {
  position: relative;
}
.svg__pX8FP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__njN7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
